<section id="dbinfo" class="section">

<h2>Assessment Context</h2>

<details>

<summary>
Database Identity and Runtime Context
</summary>

<table>

<tr>
<td>Database</td>
<td>{{ db_info.database.database_name }}</td>
</tr>

<tr>
<td>User</td>
<td>{{ db_info.database.current_user }}</td>
</tr>

<tr>
<td>Database Size</td>
<td>{{ db_info.database_size }}</td>
</tr>

<tr>
<td>Startup Time</td>
<td>{{ db_info.database.startup_time }}</td>
</tr>

</table>

</details>

</section>
