<section id="freezeage" class="section">

<h2>Frozen Transaction ID Analysis</h2>

<table>

<tr>
<th>Critical Tables</th>
<th>Warning Tables</th>
<th>Highest Freeze Age</th>
</tr>

<tr>
<td>{{ freeze_age.summary.critical_tables }}</td>
<td>{{ freeze_age.summary.warning_tables }}</td>
<td>{{ freeze_age.summary.highest_freeze_age }}</td>
</tr>

</table>

</section>