<section id="sessions" class="section">

<h2>Session Analysis</h2>

<table>

<tr>
<th>Total</th>
<th>Active</th>
<th>Idle</th>
<th>Idle In Transaction</th>
</tr>

<tr>
<td>{{ sessions.summary.total_sessions }}</td>
<td>{{ sessions.summary.active_sessions }}</td>
<td>{{ sessions.summary.idle_sessions }}</td>
<td>{{ sessions.summary.idle_in_transaction }}</td>
</tr>

</table>

</section>